@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.row-container {
  display: flex;
}

.grid {
  background-color: #f39a61;
  border: 2px solid #f9faf8;
  color: #ffffff;
  flex: 1;
  /* margin: 0;
  padding: 0; */
}

.grid.color {
  background-color: #d35462;
}
